<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<span>Bonjour,Une nouvelle commande a été envoyée par <span th:text="${name}"></span>, rappel des articles :</span>
<table width="100%" cellpadding="0" cellspacing="0" style="padding: 20px 40px 20px 40px" >
    <tr>
        <th><span style="font-size:12px; color:#000;" >Code article</span></th>
        <th><span style="font-size:12px; color:#000;" >Intitulé</span></th>
        <th><span style="font-size:12px; color:#000;" >Prix de vente</span></th>
        <th><span style="font-size:12px; color:#000;" >Quantity</span></th>
    </tr>
    <tr th:each="cartLine : ${cartLines}">
        <td><span style="font-size:12px; color:#000;" th:text="${cartLine.product.codearticle}"></span></td>
        <td><span style="font-size:12px; color:#000;" th:text="${cartLine.product.intitule1}"></span></td>
        <td><span style="font-size:12px; color:#000;" th:text="${cartLine.product.prixdevente}"></span></td>
        <td><span style="font-size:12px; color:#000;" th:text="${cartLine.quantity}"></span></td>
    </tr>
    <tr>
        <td><span style="font-size:12px; color:#000;"></span></td>
        <td><span style="font-size:12px; color:#000;"></span></td>
        <td><span style="font-size:12px; color:#000;">Prix Total</span></td>
        <td><span style="font-size:12px; color:#000;" th:text="${price}"></span></td>
    </tr>
</table>
</body>
</html>