<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<span>Bonjour, un nouveau mot de passe pour le site zky a été demandé, si c'est bien votre demande, veuillez cliquer sur ce lien pour recevoir votre nouveau mot de passe : </span><span th:text="${message}" ></span>
</body>
</html>