<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <span>Votre compte pour ZKY a bien été créé, voici vos identifiants :</span>
    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 20px 40px 20px 40px" >
      <tr>
        <td><span style="font-size:12px; color:#000;">login : </span><span style="font-size:12px; color:#000;" th:text="${login}"></span></td>
        <td><span style="font-size:12px; color:#000;">password : </span><span style="font-size:12px; color:#000;" th:text="${password}"></span></td>
      </tr>
    </table>
</body>
</html>